h1:hover{
    color: black;
    background-color: white;
}


p,li{
    color: rgb(209, 201, 201);
}
p:hover,li:hover {
    color: aqua;
}

ul{
    margin:3rem 0 0 36rem;
}
button:hover{
    background-color: red;
    color: white;

}


.center {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .typewriter {
    color: white;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid orange; /* Create cursor effect */
  }
  
  /* Rest of your styles */
  
  
  
  

